<% content_for :for_content do %>
  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="vizew-breadcrumb">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="<%= root_path %>"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Signup</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Signup Area Start ##### -->
  <div class="vizew-login-area section-padding-80">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                  <div class="login-content">
                      <!-- Section Title -->
                      <div class="section-heading">
                          <h4>Create your account</h4>
                          <div class="line"></div>
                      </div>

                      <%= form_for @user do |f| %>
                        <div class="form-group">
                          <%= f.text_field :name, placeholder: "* Enter your username", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.text_field :email, placeholder: "* Enter your email", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.password_field :password, placeholder: "* Enter your password", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.password_field :password_confirmation, placeholder: "* Confirm your Password", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.number_field :phone, placeholder: "Enter your phone", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <%= f.text_field :address, placeholder: "Enter your address", class: "form-control" %>
                        </div>
                        <%= f.submit "Register", class: "btn vizew-btn w-100 mt-30" %>
                        <div class="text-right">Have user account?
                          <%= link_to "Login", signin_path %>
                        </div>
                      <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ##### Signup Area End ##### -->
<% end %>