<%= form_with(model: admin_admin, local: true) do |form| %>
  <% if admin_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_admin.errors.count, "error") %> prohibited this admin_admin from being saved:</h2>

      <ul>
      <% admin_admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
